@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Middle Valley Community</h1>
    <p class="lead">Middle Valley Community bank offers the first ever web based ATM. Give it a try today!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Powered by ASP.NET</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Open an account with us!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Register</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Access your existing account.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Login</a></p>
    </div>
</div>
@*
    @Request.Browser.Browser and that's Okay!!

    @{ var amounts = new List<decimal>() { 100, 24.233m, -39 };}
    <ul>
        @foreach(decimal amount in amounts)
        {
            <li>@formatAmount(amount)</li>
        }
    </ul>
    @helper formatAmount(decimal amount){
        var color = "green";
        if (amount < 0) {
            color = "red";
        }
    }
    <span style="color:@color">@String.Format("{0:c}",amount)</span>
*@